<div class="container w-75 m-auto">
    <div class="caption w-100 text-center pb-5">
        <h2>
            Descreption Form
        </h2>
    </div>
<div  class="w-100">

<form action="submit" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <label for="nameInput1" class="form-label">Full_Name</label>
    <input formControlName ="fullName" name="fullName" type="text" class="form-control mb-3" id="nameInput1" placeholder="Enter Name From Id">
    <!-- <div *ngIf="formdetails.get('fullName')?.errors&&formdetails.get('fullName')?.touched">
    <p *ngIf="formdetails.get('fullName')?.getError('required')" class=" alert alert-danger ">Name is Requierd</p>
    <p *ngIf="formdetails.get('fullName')?.getError('maxlength')" class=" alert alert-danger  ">Name Can't be less than 10</p>
    <p *ngIf="formdetails.get('fullName')?.getError('minlength')" class=" alert alert-danger  ">Name Can't be more than 10</p>
    </div> -->


    <label for="exampleFormControlInput1" class="form-label ">Email address</label>
    <input type="email" formControlName="email" name="email" class="form-control mb-3" id="exampleFormControlInput1" placeholder="name@example.com">
    <!-- <div *ngIf="formdetails.get('email')?.errors&&formdetails.get('email')?.touched">
        <p *ngIf="formdetails.get('email')?.getError('required')" class=" alert alert-danger ">Email is Requierd</p>
        <p *ngIf="formdetails.get('email')?.getError('email')" class=" alert alert-danger  ">Enter Valid Email</p>
    </div> -->

    
    <label for="phone_number" class="form-label ">Phone Number</label>
    <input type="text" formControlName="phone_number" name="phone_number" class="form-control mb-3" id="phone_number" >
    <!-- <div *ngIf="formdetails.get('phone_number')?.errors&&formdetails.get('phone_number')?.touched">
        <p *ngIf="formdetails.get('phone_number')?.getError('required')" class=" alert alert-danger ">phone_number is Requierd</p>
        <p *ngIf="formdetails.get('phone_number')?.getError('pattern')" class=" alert alert-danger  ">Enter Valid phone_number</p>
    </div> -->
    <label for="  chieldAge" class="form-label ">Chield Age</label>
    <input type="number" formControlName="chieldAge" name="chieldAge" class="form-control mb-3" id="chieldAge" >
    <!-- <div *ngIf="formdetails.get('chieldAge')?.errors&&formdetails.get('  chieldAge')?.touched">
        <p *ngIf="formdetails.get('chieldAge')?.getError('required')" class=" alert alert-danger ">  chieldAge is Requierd</p>
    </div> -->

    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea formControlName="overviwe"class="form-control mb-3" name="overviwe" id="exampleFormControlTextarea1" rows="3"></textarea>

    <!-- <div *ngIf="formdetails.get('overviwe')?.errors&&formdetails.get('overviwe')?.touched">
        <p *ngIf="formdetails.get('overviwe')?.getError('required')" class=" alert alert-danger ">overviwe is Requierd</p>
    </div> -->

    <label for="formFile" class="form-label">losted Img</label>
    <input class="form-control" type="file" (change)="onFileSelect($event)" name="img" id="formFile" >
    <!-- <div *ngIf="formdetails.get('img')?.errors&&formdetails.get('img')?.touched">
        <p *ngIf="formdetails.get('img')?.getError('required')" class=" alert alert-danger ">img is Requierd</p>
    </div> -->
    <button   type="submit" class="btn-primary btn mt-3">
        send
    </button>

</form>
</div>
</div>