<div class="container">
    <div class="row">
        <div class="col-md-6 p-4">
            <div class="box">
                <div  class="caption w-100 text-center ">
                    <i routerLink="/lostedObectedForm"  class="fa-sharp fa-solid fa-plus"></i>
                    <h3 routerLink="/lostedObectedForm" >
                        Add
                    </h3>
                    <p>
                            Add Information About Losted Object
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-4">
            <div class="box">
                <div  class="caption w-100 text-center ">
                    <i routerLink="/lostedObjectedPage" class="fa-brands fa-searchengin"></i>
                    <h3 routerLink="/lostedObjectedPage" >
                        Search
                    </h3>
                    <p routerLink="/lostedObjectedPage">
                           Loking For an Object 
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</div>