<div class="container p-3">
    <div class="title">
        <h2 class=" w-100 text-center"> Services</h2>
        <p>The site provides some of the services provided by the police station and those services that do not require going to the police station in order to save time and reduce crowding.</p>
    </div>
        <div class="row gx-3 pt-5">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img  src="../../assets/iconmonstr-document-thin.png" class="card-img-top p-3" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Documents extraction</h5>
                      <p class="card-text">Issuing simple papers that do not require going to the police station, taking a turn or an appointment to receive certain papers..</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>    
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img  src="../../assets/659509.svg" class="card-img-top p-3" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Missing</h5>
                      <p class="card-text">To search for items and missing persons or to report missing persons with their photos attached.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>    
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img  src="../../assets/iconmonstr-document-thin.png" class="card-img-top p-3" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Reports and crimes</h5>
                      <p class="card-text">For small reports that may not require going to the police station.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>    
            </div>

        </div>
</div>