<div class="container">
    <div class="input-group flex-nowrap w-50 m-auto p-5">
        <i class="input-group-text fa-search" id="addon-wrapping"></i>
        <input [(ngModel)]="term" type="text" class="form-control" placeholder="Search By Name..." aria-label="Username" aria-describedby="addon-wrapping">
      </div>
    <div class="row g-4">
        <div *ngFor="let peoble of losted " class="col-md-3">
            
                 <div class="box">
                    <a [routerLink]="['/lostedOneDetails',peoble._id]">
                        <img class=" w-100" [src]="peoble.img" alt="">
                <div class="person-caption w-100 bg-light text-center">
                    <h4  class="  ">
                        {{peoble.fullName}}
                    
                    </h4>
                </div>
                    </a>
                
            </div>
           
         </div>
    </div>
</div>
