<div class="container-fluid w-100">
    <div class=" row justify-content-center d-flex" *ngFor="let one of allDetails">
        <div class="col-md-4"  >
            <div class="box px-1 py-4">
                <img class=" w-100 h-25" [src]="one.img" alt="">
            </div>
        
        </div>
        <div   class="col-md-4">
            <div class="box px-5 py-5 mt-2">
                <h3 class=" text-black"><span>Chield Name:</span> {{one.fullName}}</h3>
                <p style="font-size: 19px;
                font-weight: 700;"><span class="btn btn-secondary ">FounderAcount:</span>{{one.email}}</p>
                <p style="font-size: 19px;
                font-weight: 700;"><span class="btn btn-secondary ">FounderNumber:</span> {{one.phone_number}}</p>
                <p style="font-size: 17px;
                font-weight: 500;"><span class="btn btn-secondary ">AllDetails:</span> {{one.overviwe}}</p>
                <p style="font-size: 19px;
                font-weight: 700;"><span class="btn btn-secondary ">postedTime:</span> {{one.createdAt}}</p>
            </div>

        </div>
    </div>
</div>