<div class="container pt-5">
    <div class="header">
        <h2 class="w-100 text-center">
            Services
        </h2>
        <div class="documentaion-services pt-3">
                <div class="box w-100 border">
                    <div class="paginationo">
                        <nav aria-label="...">
                            <ul class="pagination pagination-lg">
                              <li class="page-item active" aria-current="page">
                                <a class="page-link" routerLink="criminalservices">Criminalservices</a>
                              </li>
                              <li class="page-item"><a class="page-link" routerLink="Documentation">RealestateservicesComponent</a></li>
                              <li class="page-item"><a class="page-link" routerLink="losts">Losts services</a></li>
                            </ul>
                          </nav>
                    </div>
                        <div class="row">
                            <div class="col-md-12">
                                <router-outlet>
                                </router-outlet>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
