<div class="container">
    <div class="row">
        <div class="col-md-6 p-4">
            <div class="box">
                <img (click)="  navigateToPeoble()" class="w-100" src="../../assets/Missing-Persons-Picture.jpg" alt="">
                <div  class="caption w-100 ">
                    <h3 (click)="  navigateToPeoble()">
                        peoble
                    </h3>
                    <p>
                        peoble(men,chidrens,women)
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            
            <div class="box" routerLink="/lostedObjects">
                <img class="w-100 " src="../../assets/الاشتراطات-الجديدة-لبيع-السيارات.webp" alt="">
                <div  class="caption w-100 ">
                    <h3 routerLink="lostedobject">
                        objects
                    </h3>
                    <p>
                        cars
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</div>