h2
{
    position: relative;
    font-family: cursive;
    letter-spacing: 2.3px;
}
h2::before
{
    content: "";
    position: absolute;
    bottom: -11px;
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    height: 3px;
    background-image: linear-gradient(183deg,rgb(6 6 24),rgb(26 62 81));
    cursor: cell;
    transition:1s ease;
}
h2::after
{
    content: "";
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 3px;
    background-image: linear-gradient(183deg,rgb(6 6 24),rgb(26 62 81));
    cursor: cell;
    transition:1s ease;
}
h2:hover:before
{
    width: 90px;
}
h2:hover::after
{
    width: 35px;
}
.container
{
    padding-bottom: 400px;
}
label,::placeholder
{
    font-family: cursive;
    letter-spacing: 2.3px;
}