<div class="w-100 text-center">
    <h2 class=" py-2">Register</h2>
</div>


<div class="container w-75 m-auto">
    

    <p class=" alert alert-danger" *ngIf="err">{{erroeMessage}}</p>
<form (ngSubmit)=" submitRegisterForm(registerForm)" [formGroup]="registerForm" action="">

    <label for="full-name" class="form-label">Full-Name</label>
        <input type="text " formControlName="full_name" class="form-control mb-3" id="full-name" placeholder="Mohamed Gamal Hamed">
        <div  *ngIf="registerForm.get('full_name')?.errors&&registerForm.get('full_name')?.touched">
            <p *ngIf="registerForm.get('full_name')?.getError('required')" class=" alert alert-danger pt-1">Name is requierd</p>
            <p *ngIf="registerForm.get('full_name')?.getError('minlength')" class=" alert alert-danger pt-1">
                Name is to short
            </p>
            <p *ngIf="registerForm.get('full_name')?.getError('maxlength')" class=" alert alert-danger pt-1">
                Name can not be more than 30char
            </p>

        </div>


    
        <label for="email" class="form-label">Email address</label>
        <input type="email " formControlName="email" class="form-control mb-3" id="email"  placeholder="name@example.com">
        <div  *ngIf="registerForm.get('email')?.errors&&registerForm.get('email')?.touched">
            <p *ngIf="registerForm.get('email')?.getError('required')" class=" alert alert-danger pt-1">
                Email is requierd
            </p>
            <p *ngIf="registerForm.get('email')?.getError('email')" class=" alert alert-danger pt-1">
                Enetr Valid Email
            </p>
           

        </div>



        <label for="password" class="form-label">Password</label>
        <input type="password" formControlName="password" class="form-control mb-3" id="password">
        <div  *ngIf="registerForm.get('password')?.errors&&registerForm.get('password')?.touched">
            <p *ngIf="registerForm.get('password')?.getError('required')" class=" alert alert-danger pt-1">
                Password is requierd
            </p>
            <p *ngIf="registerForm.get('password')?.getError('pattern')" class=" alert alert-danger pt-1">
                Password should be like (Aa000000)
            </p>
        </div>



        <label for="address" class="form-label">Adddress</label>
        <input type="text " formControlName="address" class="form-control mb-3" id="address" placeholder="Cairo Maady Saqr-qurish">
        <div  *ngIf="registerForm.get('address')?.errors&&registerForm.get('address')?.touched">
            <p *ngIf="registerForm.get('address')?.getError('required')" class=" alert alert-danger pt-1">
                Address is requierd
            </p>
            <p *ngIf="registerForm.get('address')?.getError('minlength')" class=" alert alert-danger pt-1">
                Address is to short
            </p>

        </div>



        <label for="jop" class="form-label">Jop</label>
        <input type="text " formControlName="jop" class="form-control mb-3" id="jop">
        <div  *ngIf="registerForm.get('jop')?.errors&&registerForm.get('jop')?.touched">
            <p *ngIf="registerForm.get('jop')?.getError('required')" class=" alert alert-danger pt-1">
                jop is requierd
            </p>
            

        </div>



        <label for="phone_number" class="form-label ">Phone Number</label>
        <input type="text" formControlName="phone_number" class="form-control mb-3" id="phone_number" >
        <div *ngIf="registerForm.get('phone_number')?.errors&&registerForm.get('phone_number')?.touched">
                <p *ngIf="registerForm.get('phone_number')?.getError('required')" class=" alert alert-danger ">phone_number is Requierd</p>
                <p *ngIf="registerForm.get('phone_number')?.getError('pattern')" class=" alert alert-danger  ">Enter Valid phone_number</p>
        </div>



        <label for=" national_id" class="form-label"> national_id</label>
        <input type="text " formControlName="national_id" class="form-control mb-3" id=" national_id" placeholder="Write from your id ">
        <div  *ngIf="registerForm.get('national_id')?.errors&&registerForm.get('national_id')?.touched">
            <p *ngIf="registerForm.get('national_id')?.getError('required')" class=" alert alert-danger pt-1">
                Id is requierd
            </p>
            <p *ngIf="registerForm.get('national_id')?.getError('min')" class=" alert alert-danger pt-1">
                In-vail id
            </p>
            
        </div>

        

        <label for="mother_name" class="form-label">Mother_Name</label>
        <input type="text " formControlName="mother_name" class="form-control mb-3" id="mother_name">
        <div  *ngIf="registerForm.get('mother_name')?.errors&&registerForm.get('mother_name')?.touched">
            <p *ngIf="registerForm.get('mother_name')?.getError('required')" class=" alert alert-danger pt-1">
                mother_name is requierd
            </p>
            

        </div>


        <!-- <button  type="submit"  class=" btn btn-primary px-2 pt-1">
            Register
        </button> -->
        <button  class=" btn btn-primary px-2 pt-1" type="submit" >
             <span  *ngIf="isLoading">
                <i class=" fas fa-spinner fa-spin"></i>
            </span>
            <span *ngIf="!isLoading">
                Register
            </span>
            </button>  

</form>
</div>